
*.pyc
Michelson/Vortrag/Capture d’écran 2019-03-14 à 01.11.16.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 01.20.35.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 01.23.04.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 01.35.02.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 02.05.02.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 02.05.07.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 02.31.48.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 02.31.59.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 03.01.37.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 03.01.45.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 10.11.47.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 10.37.35.png
Michelson/Vortrag/Capture d’écran 2019-03-14 à 10.37.42.png
Michelson/Vortrag/Interferometer.pptx
Michelson/Vortrag/Lambda1_m2Residuen.pdf
Michelson/Vortrag/Lambda2_m2Residuen.pdf
Michelson/Vortrag/Lambda3_m2Residuen.pdf
Michelson/Vortrag/Lambda4_m2Residuen.pdf
